<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="mounting_plate" params="parent prefix *origin">
    
    <joint name="${prefix}mounting_plate_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}mounting_plate_link"/>
    </joint>

    <link name="${prefix}mounting_plate_link">
      <visual>
        <geometry>
          <mesh filename="package://leo_full_description/meshes/mounting_plate.dae" scale="${mount_mesh_scale} ${mount_mesh_scale} ${mount_mesh_scale}" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://leo_full_description/meshes/mounting_plate.dae" scale="${mount_mesh_scale} ${mount_mesh_scale} ${mount_mesh_scale}" />
        </geometry>
      </collision>
    </link>
    
  </xacro:macro>

</robot>